Source: ros-noetic-mp2p-icp
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libtbb-dev, ros-noetic-catkin, ros-noetic-catkin <!nocheck>, ros-noetic-mola-common, ros-noetic-mrpt-libbase, ros-noetic-mrpt-libgui, ros-noetic-mrpt-libmaps, ros-noetic-mrpt-libobs, ros-noetic-mrpt-libposes, ros-noetic-mrpt-libtclap, ros-noetic-ros-environment
Homepage: https://github.com/MOLAorg/mp2p_icp
Standards-Version: 3.9.2

Package: ros-noetic-mp2p-icp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtbb-dev, ros-noetic-mola-common, ros-noetic-mrpt-libbase, ros-noetic-mrpt-libgui, ros-noetic-mrpt-libmaps, ros-noetic-mrpt-libobs, ros-noetic-mrpt-libposes, ros-noetic-mrpt-libtclap
Description: A repertory of multi primitive-to-primitive (MP2P) ICP algorithms in C++
